#p1 {
    color: red;
}

h1, h2{
    color: green;
    background-color: rgb(216, 255, 216);
}


.blue-text{
    color: rgb(14, 111, 255);
}

.italic-text{
    font-style: italic;
    color: rgb(121, 3, 3);
    font-weight: bold;
}

#info-section{
    background-color: rgba(128, 128, 128, 0.578);
}