#p1 {
    color: red;
}

h1, h2{
    color: green;
    background-color: rgb(216, 255, 216);
}

.blue-text{
    color: rgb(200, 46, 255);
}

.italic-text{
    font-style: italic;
    color: #000000;
    font-weight: bold;
}

#info-section{
    background-color: rgba(128, 128, 128, 0.578);
}


.square{
    background-color: red;
    /* opacity: 0.5; */
    /* background-color: rgba(255, 0, 0, 0.381); */
    background-color: hsla(200, 65%, 20%,0.59);
    width: 200px;
    height: 200px;
    font-size: 2.5em;
    font-weight: 900;
}