body {
    margin: 0;
    padding: 0;
}

.main {
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}

nav {
    background-color: rgb(244, 144, 14);
    padding: 10px;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 15px;
}

.list-box {
    display: inline-block;
    width: 70%;
    text-align: center;
}


.btn-container {
    display: inline-block;
    width: 25%;
    text-align: right;
}

.btn {
    background-color: rgb(0, 167, 0);
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: white;
}

h1 {
    background: #833AB4;
    background: linear-gradient(207deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: transparent;
    background-clip: text;
}


.cards-container {
    /* background-color: bisque; */
    padding: 15px;
    text-align: center;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 19%, rgba(87, 199, 133, 1) 61%, rgba(237, 221, 83, 1) 100%);
    /* background-image:  linear-gradient(90deg,rgba(42, 123, 155, 1) 19%, rgba(87, 199, 133, 1) 61%, rgba(237, 221, 83, 1) 100%); */
}

.card {
    height: 300px;
    width: 30%;
    background-color: cadetblue;
    display: inline-block;
    min-width: 200px;
    margin-bottom: 20px;
}

.product-img {
    background-image: url('./images.jpg');
    height: 35%;
    background-position: center;
}

.p-title {
    font-size: larger;
}

.product-details {
    text-align: center;
}